<%- include('./partials/header.ejs') %>
    <h1> Recipes Index Page</h1>
    <img src="/background3.png" alt="background picture" class="indexBody"/>
    <a  href="/recipes/new"> Add new recipe</a>
    <ul>
        <% for (let i = 0; i < recipe.length; i++) { 
            
            let recipeNumber = i + 1

            %>
            <li class="indexItem">
                <a class="name" href="/recipes/<%=recipe[i]._id%>">
                    <%= recipe[i].name %>
                </a>
                <img src="<%=recipe[i].image%>">
                <p><%= recipe[i].description %></p>
                
            </li>
       <% } %>
    </ul>
<%- include('./partials/footer.ejs')%>