<%- include('./partials/header.ejs') %>
    <h1>Main</h1>
   
    <ul >
        <% for (let i = 0; i < recipe.length; i++) { 
            
            let recipeNumber = i + 1

            %>
            <%if(recipe[i].category === "Main") { %> 
                
            <li class="indexItem">
                <a class="name" href="/recipes/<%=recipe[i]._id%>">
                    <%= recipe[i].name %>
                </a>
                <img src="<%=recipe[i].image%>">
                <p><%= recipe[i].description %></p>
                
            </li>
           <% }%>
         
       <% } %>
    </ul>
    <%  console.log(recipe.category) %>
    <a  href="/recipes/new"> Add new recipe</a>
    <a href="/recipes"> Back to Main Page</a>
<%- include('./partials/footer.ejs')%>