<%- include('./partials/header.ejs') %>
    <h1><%= recipe.name %></h1>
    <div class="showPage">
    <div class="leftPart">
    <h2><%= recipe.name %></h2>
    <img src="<%= recipe.image %>">
    <p><h3>Ingredients:</h3><%= recipe.ingredients%></p>
</div>
<div class="rightPart">
    <p><h3>Directions:</h3><br><%= recipe.directions %></p>
</div>
</div>

<br>

<a href="/recipes"> Back to Main Page</a>
<%- include('./partials/footer.ejs')%>